
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-12" style="text-align:center">
        <div class="page-header">
            <h1 style="font-family:Quicksand-Book">Find Bounties</h1>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-6">
                <p><b>Filter By:</b></p>
            </div>
            <div class="col-md-6">
                <p>
                    <button id="refresh-button" type="button" class="btn btn-primary btn-xs">Refresh</button>
                </p>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="form-group">
                    <label for="exampleCoinMin"><h4 style="font-family:Quicksand-Book">Coin Amount</h4></label>
                    <input type="min-amount" class="coin-amount-form" id="coin-min" placeholder="Minimum Coins">
                </div>
                <div class="form-group">
                    <input type="max-amount" class="coin-amount-form" id="coin-max" placeholder="Maximum Coins">
                </div>
            </div>
            <hr/>
            <div class="row">
                <p><h4 style="font-family:Quicksand-Book">Due Date Range</h4></p>
                <div class="form-group">
                    <label style="width:100%">Earliest Date</label>
                    <input type="date" class="coin-amount-form" id="date-min" placeholder="Earliest Date">
                </div>
                <div class="form-group">
                    <label style="width:100%">Latest Date</label>
                    <input type="date" class="coin-amount-form" id="date-max" placeholder="Latest Date">
                </div>
            </div>
            <hr />
            <div class="row">
                <p><h4 style="font-family:Quicksand-Book">Tags</h4></p>
                <div class="form-group">
                    <textarea type="text" id="search-tags" placeholder="Comma separated tags"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <p>Open Bounties</p>
        </div>
        <div id="results-table" class="row">
            <table class="table">
                <tr>
                    <th>Bounty Title</th>
                    <th>Description</th>
                    <th>Difficulty</th>
                    <th>Value</th>
                    <th>Time Left</th>
                    <th></th>
                </tr>
                
                    @{
                        foreach(var bounty in (ViewData["AllBounties"] as List<dbX.Models.Bounty>))
                        {
                            <tr>
                                <td>
                                    @bounty.Title
                                </td>
                                <td>
                                    @Html.Raw(bounty.Task)
                                </td>
                                <td>
                                    @bounty.Difficulty
                                </td>
                                <td>
                                    @bounty.Coins
                                </td>
                                <td>
                                @{
                                    DateTime currentDate = DateTime.Now;
                                    TimeSpan timeLeft = bounty.EndTime.Subtract(currentDate);
                                    @timeLeft.Days
                                }
                                </td>
                                <td>
                                    @Html.ActionLink(HttpUtility.HtmlDecode("View"), "Index", "BountyPost", new { bountyId = bounty.Id, owner = 0 }, new { @class = "btn btn-primary btn-xs" })
                                </td>
                            </tr>

                        }
                    }
                </table>
        </div>
    </div>
</div>

<script language="javascript">

    function updateTable(revisions) {
        var tableHead = '<tr><th>Bounty Title</th><th>Description</th><th>Difficulty</th><th>Value</th><th>Time Left</th><th></th></tr>';
        var rows = '<table class="table">' + tableHead;

        $.each(revisions, function (bountyIndex, bounty) {
            var row = '<tr>';

            row = row + '<td>' + bounty["Title"] + '</td>';
            row = row + '<td>' + bounty["Background"] + '</td>';
            row = row + '<td>' + bounty["Difficulty"] + '</td>';
            row = row + '<td>' + bounty["Coins"] + '</td>';

            var endDate = new Date(Date.parse(bounty["EndTime"]));
            var todayDate = new Date();

            var dateDiff = endDate - todayDate;
            var dateDiffDays = dateDiff / 86400000;

            row = row + '<td>' + Math.round(dateDiffDays) + '</td>';
            row = row + '<td><a class="btn btn-primary btn-xs" href="/BountyPost?bountyId=' + bounty["Id"] + '&amp;owner=0">View</a></td>';

            row = row + '</tr>';
            rows = rows + row;
        });

        rows = rows + '</table>';
        console.log(rows);

        $('#results-table').html(rows);

    }

    function submitSearchRevisions() {
        // Get the data
        var minAmount = $('#coin-min').val();
        var maxAmount = $('#coin-max').val();
        var dateMin = $('#date-min').val();
        var dateMax = $('#date-max').val();
        var tags = $('#search-tags').val().split(',');

        var update = {
            'MinimumCoins': minAmount,
            'MaximumCoins': maxAmount,
            'DateMin': dateMin,
            'DateMax': dateMax,
            'Tags': tags
        }

        // Submit AJAX request
        $.ajax({
            url: '../api/UpdateSearchApi',
            type: 'POST',
            data: JSON.stringify(update),
            dataType: 'json',
            contentType: 'application/json',
            success: function (response) {
                console.log('Web Api Responds with:', response);
                updateTable(JSON.parse(response));
            },
            error: function (exception) {
                alert('Exeption:' + exception);
            }
        });
    }

    $(document).ready(function () {

        $('#refresh-button').click(function () {
            submitSearchRevisions();
        })
    });
</script>

