@model dbX.Models.Bounty

 @{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h1>@ViewData["Title"]</h1>
</div>


<div class="row">
    <div class="col-md-8" style="text-align:left">
        <div class="row">
            <h1>Task</h1>
            <p>@Html.Raw(ViewData["Background"])</p>
            <p>@Html.Raw(ViewData["Task"])</p>
        </div>  
        <div class="row">
            <h1>Code</h1>
            <div class="quill-wrapper" style="font-family:Courier New, Courier, monospace">

                <div id="code-display-editor" class="input-code-editor" style="width: 100%;"></div>

            </div>
        </div>      
    </div>
    <div class="col-md-4" style="text-align:center">
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color: lightgray">
                <h3 style="font-family:Quicksand-Book;"><b>Tags</b></h3>
            </div>
            <p style="max-width: none;">
                <font size="4">
                    @foreach (var item in (ViewData["Tags"] as List<string>))
                    {
                        <code>
                            @item
                        </code>
                    }
                </font>
            </p>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color: lightgray">
                <h3 class="bounty-post-font"><b>Price</b></h3>
            </div>
            <div class="panel-body" style="align-content:center">
                <font size="5">@ViewData["Coins"]</font>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color: lightgray">
                <h3 class="bounty-post-font"><b>Time Left</b></h3>
            </div>
            <div class="panel-body" style="align-content:center">
                <font size="5">
                    @{
                        DateTime currentDate = DateTime.Now;
                        TimeSpan timeLeft = Model.EndTime.Subtract(currentDate);
                        @timeLeft.Days
                    } Days
                </font>
            </div>
        </div>
        @{
            if(Int32.Parse(ViewData["Owner"].ToString()) == 1)
            {
                @Html.ActionLink(HttpUtility.HtmlDecode("Edit Bounty &raquo;"), "Index", "BountyEdit", new { bountyId = ViewData["Id"]}, new { @class = "btn btn-warning btn-lg center-block" })
                <div class="btn btn-danger btn-lg center-block">Delete Bounty &raquo;</div>
            }
            else
            {
                <div class="row">
                    <div class="text-center">
                        <div id="participateButton" class="btn btn-success btn-lg center-block" style="text-align: center"><font size="5">Participate &raquo;</font></div>
                    </div>
                </div>
                if (Int32.Parse(ViewData["Participating"].ToString()) == 1)
                {
                    <hr/>
                    <div class="row">
                        <div class="text-center">
                            <div class="btn btn-danger btn-lg center-block" style="text-align: center"><font size="3">Un-follow Bounty &raquo;</font></div>
                        </div>
                    </div>
                }
            }
}
    </div>
</div>

@{

    if (Int32.Parse(ViewData["Owner"].ToString()) == 1)
    {
        <hr />  
    
        <div class="row">
            <div class="col-md-12">
                <h1 style="text-align:center;">
                    Submissions
                </h1>

                @{
                    if ((ViewData["Solutions"] as List<dbX.Models.Solution>).Count == 0)
                    {
                        <div style="text-align: center;">
                            <code>No submitted solutions yet!</code>
                        </div>
                    }
                    else
                    {
                        <table class="table">
                            <tr>
                                <th>Description</th>
                                <th>Time Submitted</th>
                                <th></th>
                            </tr>

                            @foreach (var solution in (ViewData["Solutions"] as List<dbX.Models.Solution>))
                            {
                                <tr>
                                    <td>@Html.Raw(solution.Description)</td>
                                    <td>@solution.LastModified.ToShortDateString()</td>
                                    <td>@Html.ActionLink(HttpUtility.HtmlDecode("View"), "Index", "ViewSolution", new { solutionId = solution.Id }, new { @class = "btn btn-primary btn-xs" })</td>
                                </tr>
                            }
                        </table>
                    }
}

            </div>
        </div>
    }
}

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h1 class="modal-title" id="myModalLabel">Submit a Solution</h1>
            </div>
            <div class="modal-body">
                <h1>Description</h1>
                <div class="quill-wrapper">
                    <!-- Toolbar for Quill -->
                    <div id="description-toolbar" class="toolbar">
                        <button class="ql-bold">Bold</button>
                        <button class="ql-italic">Italic</button>
                    </div>
                    <!-- Editor for Quill -->
                    <div id="description-editor">
                        <div>Hi!</div>
                        <div>Add some background about your bug here.</div>
                        <div><br></div>
                    </div>
                </div>
                <hr/>
                <h1>Code</h1>
                <div class="quill-wrapper" style="font-family:Courier New, Courier, monospace">
                    <div id="modal-code-display-editor" class="input-code-editor" style="width: 100%;"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="submit-solution-button" type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>

<script language="javascript">
    function followBounty(bountyId) {

        var bounty = {
            'BountyId': bountyId
        }

        $.ajax({
            url: '../api/FollowBountyApi',
            type: 'POST',
            data: JSON.stringify(bounty),
            dataType: 'json',
            contentType: 'application/json',
            success: function (response) {
                console.log('Web Api Responds with:', response);
            },
            error: function (exception) {
                alert('Exeption:' + exception);
            }
        });

        alert('You have followed this bounty!');

    }

    function submitSolution(descriptionEditor, codeModalEditor) {

        var solutionDescription = descriptionEditor.getHTML();
        var solutionCode = codeModalEditor.getSession().getValue();

        var userId = '@Html.ViewData["UserId"]';
        var bountyId = '@ViewData["Id"]';

        var solution = {
            'UserId': userId,
            'BountyId': bountyId,
            'Description': solutionDescription,
            'Code': solutionCode
        }

        $.ajax({
            url: '../api/SubmitBountySolutionApi',
            type: 'POST',
            data: JSON.stringify(solution),
            dataType: 'json',
            contentType: 'application/json',
            success: function (response) {
                console.log('Web Api Responds with:', response);
            },
            error: function (exception) {
                alert('Exeption:' + exception);
            }
        });

        alert('Successfully submitted solution!');

    }

    $(document).ready(function () {

        var code = '@Html.Raw(ViewData["Code"])';

        var codeEditor = ace.edit("code-display-editor");
        codeEditor.setValue(code, -1);
        codeEditor.getSession().setMode("ace/mode/c_cpp");
        document.getElementById('code-display-editor').style.fontSize = '16px';
        codeEditor.setReadOnly(true);
        codeEditor.getSession().setUseWrapMode(true);

        var codeModalEditor = ace.edit("modal-code-display-editor");
        codeModalEditor.getSession().setMode("ace/mode/c_cpp");
        document.getElementById('modal-code-display-editor').style.fontSize = '16px';
        codeEditor.getSession().setUseWrapMode(true);

        codeEditor.setOptions({
            minLines:10,
            maxLines: 15
        });
        codeModalEditor.setOptions({
            minLines:10,
            maxLines: 15
        });

        if(@ViewData["Participating"] == 1) {
            $('#participateButton').html("Submit a solution");
            $('#participateButton').attr('data-toggle','modal');
            $('#participateButton').attr('data-target','#myModal');
            $('#participateButton').attr("id","solution-button");
        }

        // Initialize Modal
        $('#myModal').modal({
            keyboard: true
        });
        $('#myModal').modal('hide');


        // Create an instance of the background editor
        var descriptionEditor = new Quill('#description-editor', {
            modules: {
                'toolbar': { container: '#description-toolbar' }
            },
            theme: 'snow'
        });

        $(document).on('click','#participateButton',function () {

            var bountyId = '@ViewData["Id"]';

            followBounty(bountyId);

            $('#participateButton').html("Submit a solution");
            $('#participateButton').attr('data-toggle','modal');
            $('#participateButton').attr('data-target','#myModal');
            $('#participateButton').attr('id','solution-button');

            location.reload();
        });

        $('#solution-button').click(function() {
            $('#myModal').modal('toggle');
        });

        $('#submit-solution-button').click(function () {
            submitSolution(descriptionEditor,codeModalEditor);
        })

    });
</script>

