@model dbX.Models.User

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="profile-icon-container">
            <div class="featured-img-profile"></div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="coins-container">
            <div class="panel panel-default coins">
                <div class="panel-heading" style="background-color: lightgray">
                    <h3><b>Your Coins:</b></h3>
                </div>
                <div class="panel-body" style="align-content:center">
                    <font size="5">@ViewData["Coins"]</font>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="profile-name-container">
            <h2>@ViewData["Username"]</h2>
        </div>
    </div>
    <div class="col-md-4">
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-md-12">
        <div class="profile-tab-container">
            <ul class="nav nav-tabs nav-justified">
                <li id="followed-bounties-tab" role="presentation" class="active"><a href="#">Your Followed Bounties</a></li>
                <li id="open-bounties-tab" role="presentation"><a href="#">Your Open Bounties</a></li>
                <li id="solved-bounties-tab" role="presentation"><a href="#">Your Solved Bounties</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div id="followed-bounties-table">
        <table class="table">
            <tr>
                <th>Bounty Title</th>
                <th>Description</th>
                <th>Difficulty</th>
                <th>Value</th>
                <th>Time Left</th>
                <th></th>
            </tr>
            @{
                foreach (var bounty in (ViewData["FollowedBounties"] as List<dbX.Models.Bounty>))
                {
                    <tr>
                        <td>
                            @bounty.Title
                        </td>
                        <td>
                            @Html.Raw(bounty.Background)
                        </td>
                        <td>
                            @bounty.Difficulty
                        </td>
                        <td>
                            @bounty.Coins
                        </td>
                        <td>
                            @{
                    DateTime currentDate = DateTime.Now;
                    TimeSpan timeLeft = bounty.EndTime.Subtract(currentDate);
                    @timeLeft.Days
                            }
                            days
                        </td>
                        <td>
                            @Html.ActionLink(HttpUtility.HtmlDecode("View"), "Index", "BountyPost", new { bountyId = bounty.Id, owner = 1 }, new { @class = "btn btn-primary btn-xs" })
                        </td>
                    </tr>

                }
            }
        </table>
    </div>
    <div id="open-bounties-table">
        <table class="table">
            <tr>
                <th>Bounty Title</th>
                <th>Description</th>
                <th>Difficulty</th>
                <th>Value</th>
                <th>Time Left</th>
                <th></th>
            </tr>
            @{
                foreach (var bounty in (ViewData["OpenBounties"] as List<dbX.Models.Bounty>))
                {
                    <tr>
                        <td>
                            @bounty.Title
                        </td>
                        <td>
                            @Html.Raw(bounty.Background)
                        </td>
                        <td>
                            @bounty.Difficulty
                        </td>
                        <td>
                            @bounty.Coins
                        </td>
                        <td>
                            @{
                    DateTime currentDate = DateTime.Now;
                    TimeSpan timeLeft = bounty.EndTime.Subtract(currentDate);
                    @timeLeft.Days
                            }
                            days
                        </td>
                        <td>
                            @Html.ActionLink(HttpUtility.HtmlDecode("View"), "Index", "BountyPost", new { bountyId = bounty.Id, owner = 1 }, new { @class = "btn btn-primary btn-xs" })
                        </td>
                    </tr>

                }
            }
        </table>
    </div>
    <div id="solved-bounties-table">
        <table class="table">
            <tr>
                <th>Bounty Title</th>
                <th>Description</th>
                <th>Difficulty</th>
                <th>Value</th>
                <th>Time Left</th>
                <th></th>
            </tr>
            @{
                foreach (var bounty in (ViewData["SolvedBounties"] as List<dbX.Models.Bounty>))
                {
                    <tr>
                        <td>
                            @bounty.Title
                        </td>
                        <td>
                            @Html.Raw(bounty.Background)
                        </td>
                        <td>
                            @bounty.Difficulty
                        </td>
                        <td>
                            @bounty.Coins
                        </td>
                        <td>
                            @{
                    DateTime currentDate = DateTime.Now;
                    TimeSpan timeLeft = bounty.EndTime.Subtract(currentDate);
                    @timeLeft.Days
                            }
                            days
                        </td>
                        <td>
                            @Html.ActionLink(HttpUtility.HtmlDecode("View"), "Index", "BountyPost", new { bountyId = bounty.Id, owner = 1 }, new { @class = "btn btn-primary btn-xs" })
                        </td>
                    </tr>

                }
            }
        </table>
    </div>
    @*<div class="col-md-8">
            <p>Bounty Title</p>
            <p>Here is the description of the bounty! jhfghdsgfhjkl;kjhgfddsadfgh gdgfhgjhkkhgfdt hghjhgfd hjkjhfgdy jkjh </p>
        </div>
        <div class="col-md-4">
            [Medium]
        </div>*@
</div>

<script language="javascript">
    $(document).ready(function () {

        $('#followed-bounties-table').show();
        $('#open-bounties-table').hide();
        $('#solved-bounties-table').hide();

        $('#followed-bounties-tab').click(function () {
            $('#followed-bounties-tab').addClass('active');
            $('#open-bounties-tab').removeClass('active');
            $('#solved-bounties-tab').removeClass('active');

            $('#followed-bounties-table').show();
            $('#open-bounties-table').hide();
            $('#solved-bounties-table').hide();
        });

        $('#open-bounties-tab').click(function () {
            $('#followed-bounties-tab').removeClass('active');
            $('#open-bounties-tab').addClass('active');
            $('#solved-bounties-tab').removeClass('active');

            $('#followed-bounties-table').hide();
            $('#open-bounties-table').show();
            $('#solved-bounties-table').hide();
        });

        $('#solved-bounties-tab').click(function () {
            $('#followed-bounties-tab').removeClass('active');
            $('#open-bounties-tab').removeClass('active');
            $('#solved-bounties-tab').addClass('active');

            $('#followed-bounties-table').hide();
            $('#open-bounties-table').hide();
            $('#solved-bounties-table').show();
        });

    });
</script>