<div class="splash">
    <div class="jumbotron splash-jumbotron">
        <h1 data-step="1" data-intro=
            "Welcome to dbX, we're glad you could join us! Let's take a quick tour to tell you what we're all about!"
            >Welcome to dbX</h1>
        <p data-step="2" data-intro=
           "As we mentioned, dbX is all about exchange. Our website runs on internal virual currency that you can earn by solving other's debugging problems or purchase with real money.
           Likewise, you can post your own debugging questions that others can solve for a bounty that you set." 
           class="lead">
            dbX is a community modeled bounty-based debugging exchange network. You can get your debugging problems sovled here, or you can solve other's
            debugging issues and earn cash!
        </p>
        <p><a href="javascript:void(0);" onclick="javascript:introJs().start()" class="btn btn-success btn-lg">Learn more &raquo;</a></p>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-12" style="text-align:center">
            <h1 style="font-family:neou-thin;">Featured Bounties</h1>
        </div>
    </div>

    <hr />

    <div class="row" data-step="8" data-intro = "Lastly, here are some bounties that we recommend looking at - they're loaded with coins!">
        @{
            foreach (var bounty in (ViewData["FeaturedBounties"] as List<dbX.Models.Bounty>))
            {
                <div class="col-md-4">
                    <div class="featured-bounties">
                        <h2>@bounty.Title</h2>
                        <hr />
                        <p>
                            <font size="5">@bounty.Coins Coins</font>
                        </p>
                        <p>
                            @{DateTime currentDate = DateTime.Now;
                            TimeSpan timeLeft = bounty.EndTime.Subtract(currentDate);}
                            <font size="5">@timeLeft.Days Days Left</font>
                        </p>
                        <hr />
                        @Html.ActionLink(HttpUtility.HtmlDecode("View Details &raquo;"), "Index", "BountyPost", new { bountyId = bounty.Id, owner = 0 }, new { @class = "btn btn-primary featured-button" })
                    </div>
                </div>
            }
        }
    </div>

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="find-bounty-container">
                @Html.ActionLink(HttpUtility.HtmlDecode("Find More Bounties &raquo;"), "Index", "Search", new { area = "" }, new { @class = "btn btn-success find-bounty-button" })
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>