<div class="splash">
    <div class="jumbotron splash-jumbotron">
        <h1>Welcome to dbX</h1>
        <p class="lead">
            dbX is a community modeled bounty-based debugging exchange network. You can get your debugging problems sovled here, or you can solve other's
            debugging issues and earn cash!
        </p>
        <p><a href="" class="btn btn-success btn-lg">Learn more &raquo;</a></p>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-12" style="text-align:center">
            <h1 style="font-family:Quicksand-Book">Featured Bounties</h1>
        </div>
    </div>

    <hr />

    <div class="row">
        @{
            foreach (var bounty in (ViewData["FeaturedBounties"] as List<dbX.Models.Bounty>))
            {
                <div class="col-md-4">
                    <div class="featured-bounties">
                        <h2>@bounty.Title</h2>
                        <hr />
                        <p>
                            <font size="5">@bounty.Coins Coins</font>
                        </p>
                        <p> @{DateTime currentDate = DateTime.Now;
                            TimeSpan timeLeft = bounty.EndTime.Subtract(currentDate);}
                            <font size="5">@timeLeft.Days Days Left</font>
                        </p>
                        <hr/>
                        @Html.ActionLink(HttpUtility.HtmlDecode("View Details &raquo;"), "Index", "BountyPost", new { bountyId = bounty.Id, owner = 0}, new { @class = "btn btn-primary" })
                    </div>
                </div>
            }
        }
    </div>

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="find-bounty-container">
                @Html.ActionLink(HttpUtility.HtmlDecode("Find More Bounties &raquo;"), "Index", "Search", new { area = "" }, new { @class = "btn btn-success find-bounty-button" })
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>